.DS_Store
*.class
bin/
*~
logs.zip
*.orig
*.java._trace
*.xtendbin
*.smap
*.log

# src-gen is excluded on a per project basis
#src-gen/

# xtend-gen is excluded on a per project basis
# xtend-gen/

emf-gen/

# for Maven builds
target

# for Gradle builds
build
.gradle

# for VS code node modules
node_modules
